<form action="http://localhost:46891/v1/data/insert" method="POST">
	Teks <input name="text" type="text"><br>
	Destinations <input name="destinations" type="text"><br>
	Topic <input name="topic" type="text"><br>
	Source <input name="source" type="text"><br>
	<input type="submit" value="submit">
</form>